$primary : #1B8CFD;

header{
    display:flex;
    justify-content: space-between;
    padding:20px 100px;
    nav{
        .active{
            color: $primary;
        }
        .btn{
            border-radius: 2px;
            font-size: .75em;
            margin-left: 40px;
        }
    }
}

@media only screen and (max-width:765px){
    header{
        padding: 20px ;
        .logo{
            img{
                width:30px;
            }
        }
        nav{
        }
    }
}