@import './Styles/styles';

#root {
  min-height: 100vh;
}
.main-content {
  padding-top: 52px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-right: 10px;
}

.button {
  &.is-primary {
    background-color: #1b8cfd;
    &:hover {
      background-color: #1b8cfd;
    }
  }
}
